<h1>Example Page</h1>
<div>The page is created with a handlebars template and contains a helper call to render a React component.</div>
<br><br><br>
<hr>
<br><br><br>
<div>
  {{component "CommentBox"}}
</div>
