<h1>Example Page</h1>
<div>The page is created with a handlebars template and contains a helper call to render a React component.</div>
<br><br><br>
<hr>
<br><br><br>

<div>
<table width="100%">
  <tr>
    <td>
      <div id="app1">
        {{component "Comments" data=comments.list pollInterval=comments.pollInterval}}
      </div>
    </td>
    <td>
      <div id="app2">
        {{component "UserStatusBox" data=users.list pollInterval=users.pollInterval}}
      </div>
    </td>
  </tr>
</table>
</div>
